// Import the functions you need from the SDKs you need
import { getAnalytics } from "firebase/analytics";
import { initializeApp } from "firebase/app";
import { getFirestore } from "firebase/firestore";
// import { getAuth } from "firebase/auth";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAPRMvFDQBPbQWB_TmSPIHEtkRP3feqRfE",
  authDomain: "job-finder-online.firebaseapp.com",
  projectId: "job-finder-online",
  storageBucket: "job-finder-online.firebasestorage.app",
  messagingSenderId: "838559476159",
  appId: "1:838559476159:web:e3cb092bc86b7b5095590a",
  measurementId: "G-BLCGJRYPQW"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
const db = getFirestore(app);

export {db}